<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{ page.title }}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<link rel="stylesheet" href="/media/css/default.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
</head> 
<body> 

<div data-role="page">

   <div data-role="header">
      <h1>{{ page.title }}</h1>
      <a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
      <a href="http://about.me/stuart.malcolm/" data-icon="search" data-iconpos="notext">about.me</a>
   </div><!-- /header -->

   <div data-role="content">	
     <p>{{ content }}</p>
     <ul data-role="listview" data-theme="d" data-divider-theme="d">
      {% for post in site.posts limit: 15 %}
        <li data-role="list-divider">{{ post.date | date:"%A %d %B %Y" }}</li>
        <li><a href="{{ post.url }}">
          <img src="/media/thumb/{{ post.categories[0] }}.png" />
          <h3>{{ post.title }}</h3>
          <p><strong>{{ post.subtitle }}</strong></p>
          <!-- <p>{{ post.excerpt | textilize}}</p> --> 
        </a></li>
      {% endfor %}
     </ul>
   </div><!-- /content -->

</div><!-- /page -->

</body>
</html>
